@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Phat Myat Co.,Lmt</h1>
    <p>This is the home page for the Phat Myat Co.,Lmt, A growing fast food selling company. Welcome and Hope all the staffs enjoy working here.</p>
</div>
<center>
<div class="container">
    <img class="background-image" src="~/images/tdtu.png" alt="TDTU Image">
</div>
</center>
